body {
  background-image: url("Tomas\ pic.jpg");
  color: black;
  background-repeat: repeat;
  background-position: center;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

.greeting-1 {
  font-size: 50px;
  margin-top: 30vh;
  margin-left: 40vw;
  color: red;
}

.greeting-2 {
  font-size: 40px;
  margin-top: 0;
  margin-left: 43vw;
  color: blue;
}

.greeting-3 {
  font-size: 35px;
  margin-top: 10px;
  margin-left: 50vw;
  color: green;
}

.greeting-4 {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 48vw;
  color: black;
}

.rain {
  font-size: 50px;
  color: red;
  position: fixed;
  top: -1vh;
  transform: translateY(0);
  font-size: 2rem;
  animation: fall 3s ease-in-out forwards;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
    color: blue;
  }
}
